@{
    ViewData["Title"] = "About Me";
}

@section css {
    <link href="@Url.Content("~/css/about_me.css")" rel="stylesheet"/>
}

<section id="about">
 		
	<div class="container">
		
		<div class="row">
		<div class="col-md-5">
			<div class="about-img">
            
				<img class="profile-pic" src="https://i.imgur.com/GosYlQH.png" alt="">
            
			</div>
		</div>
		<br>
		<div class="col-md-7 about-right">
			
			<h2 class="color-3"><b>About Me</b>
			</h2>
			
			<p class="p-upper">
				Hi! My name is Łukasz Dziwiszewski.
			</p
			<p class="p-upper">
				After years of studying English and working on my language skills both in an 
				academic environment as well as in my spare time, I decided to follow my dream 
				of studying abroad and at the age of 19 moved to Preston, UK to pursue a 
				Bachelor's degree in Software Engineering at the University of Central Lancashire 
				(UCLan). Upon completing that course with First Class Honours I moved to Norwich 
				aiming to expand my IT knowledge by undertaking a Master's degree in Advanced 
				Computing Science at the University of East Anglia (UEA). I completed that course 
				with a Distinction.
			</p>
			<p class="p-upper">
				I am a hard-working and motivated individual, with attention to even the finest 
				detail and determined to always complete any work to the best of my ability. 
				Passionate about programming and technology, I strive to learn and improve with 
				the goal of becoming an accomplished member of the IT industry.	
			</p>
			<p class="p-upper">
				Throughout my education I have acquired a vast range of skills, both back as well 
				as front-end focused. I am well accustomed with such programming languages as: C#,
				Java, C++; whilst also having experience with Python, MatLab, JavaScript, F#, 
				and Pascal. Furthermore, I have written software using SQLite and REST API. 
				During my time at the UEA I also had the opportunity to familiarise myself with 
				machine-learning and data science techniques. I have developed both desktop and 
				mobile solutions; the latter while utilizing Room and Firebase solutions to name 
				a few. Outside of academics, I have also improved my understanding of C# by 
				creating projects using the Unity game engine.
			</p>
			<p class="p-upper">
				By undertaking numerous group projects at university and participating in an IT 
				internship for a respectable automotive company, I have polished my interpersonal 
				skills and understanding of being a team player. I can work well both 
				collaboratively and independently, as demonstrated by my academic record.
			</p>
			<p>
				My ambition is to take all the knowledge that I have acquired throughout my 
				education, both IT and interpersonal, and transfer it into my first experience 
				in the industry. I would like to use the skills, enthusiasm, and attention to 
				detail that allowed me to score well academically and build products that can 
				meet standards of real-world clients. I believe in my ability to achieve that 
				by working within teams of like-minded and friendly individuals.
			</p>
			
			<ul class="about-link">
						
				<li><a href="https://www.linkedin.com/in/%C5%82ukasz-dziwiszewski-38377b133/"><i class="bi bi-linkedin"></i></a></li>

				<li><a href="https://www.facebook.com/luki419/"><i class="bi bi-facebook"></i></a></li>
		 
			</ul>
		 
			
		</div>
	 
		</div>
	</div>
  
 	</section>
